[run]
branch = true
source =
    sims_backend
    core
omit =
    */management/commands/*
    */migrations/*
    */tests/*
    */tests.py
    */conftest.py
    */test_*.py
    */wsgi.py
    */asgi.py
    */venv/*
    */.venv/*
    */site-packages/*

[report]
include_namespace_packages = true
exclude_also =
    if TYPE_CHECKING:
